body {
  background-color: rgb(255, 255, 255);
}

header {
  text-align: center;
  font-family: "Fjalla One", sans-serif;
  font-weight: 900;
  font-size: larger;
}

header a {
  text-decoration: none;
  color: black;
}

hr {
  background-color: rgb(236, 206, 193);
  height: 3px;
}

.flex-grid {
  display: flex;
}

.col1 {
  flex: 1;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.col2 {
  flex: 1;
  display: flex;
  align-items: center;
}

.image1 {
  max-width: 400px;
  border-radius: 5px;
  position: relative;
  opacity: 0.8;
}

.image1:hover {
  opacity: 1;
  transition: 0.5s ease;
}

.overlay {
  max-width: 400px;
  max-height: 533.33px;
  border-radius: 5px;
  background-color: rgb(219, 214, 236);
  margin: 25px;
}

.about_me {
  text-align: left;
  margin: 25px;
  max-width: 500px;
}

body {
  text-align: left;
  font-family: "Fjalla One", sans-serif;
  font-size: large;
  line-height: 2;
  margin: 0px auto;
}

footer {
  text-align: center;
  font-family: "Fjalla One", sans-serif;
  font-weight: 900;
  font-size: small;
}

.work {
  max-width: 700px;
  margin: 0px auto;
  padding: 16px;
  font-style: normal;
}

.contact {
  max-width: 700px;
  margin: 0px auto;
  padding: 16px;
  font-style: normal;
}

.nav_menu {
  background-color: rgb(236, 206, 193);
  width: 100%;
  text-align: center;
}

.nav_menu ul {
  margin: 0px auto;
  padding-inline-start: 0px;
  display: flex;
  list-style: none;
}

.nav_menu li {
  text-align: center;
  font-family: "Fjalla One", sans-serif;
  justify-content: space-evenly;
  flex: 1;
  border-right: 2px solid rgba(194, 166, 155, 0.479);
}

.nav_menu a {
  text-decoration: none;
  color: black;
  font-size: medium;
}

@media (max-width: 1000px) {
  .flex-grid {
    display: block;
  }
  .col1 {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .col2 {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .image1 {
    max-width: 300px;
  }
  .overlay {
    max-height: 400px;
  }
  a {
    font-size: medium;
  }
}
